<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatUp - login</title>

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">

    <link rel="icon" href="/images/big_logo.png">

    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>

<div class="text-center">

    <form class="form-signin" action="/login" method="POST">
        <div class="bg-light p-3 my-5">
            <h1 class="h2 mb-3 font-weight-normal">Welcome to ChatUp! </h1>
        </div>

        <img class="mb-4" src="/images/big_logo.png" alt="" width="150"
             height="150">

        <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>

        <div class="form-group">
            <label for="userName" class="sr-only">User Name</label>
            <input class="form-control" type="text"
                   name="userName" id="userName" placeholder="Enter your name" required autofocus>
            <div th:if="${error != null}" th:text="${error}" class="alert alert-danger my-1" role="alert">
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>


    </form>


    <p class="mt-5 mb-3 text-muted">&copy; Avish & Nati 2021</p>
</div>


<script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>
</html>