<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- icons -->
    <link rel="icon" href="/images/big_logo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- CSS file -->
    <link href="/css/chat-room.css" rel="stylesheet">
    <!-- JS file -->
    <script src="/js/common-util.js"></script>
    <script src="/js/search.js"></script>

    <title>ChatUp - search</title>
</head>
<body>

<div class="background container-fluid p-3">


    <!-- Welcome -->
    <div class="row p-3 text-center">
        <div class="col-sm-12 title_welcome p-3">
            <div class="row">
                <div class="col col-lg-6 offset-lg-3  d-flex align-items-center justify-content-center" >
                    <h1>Welcome to ChatUp</h1>
                </div>

                <div class="col col-lg-3">
                    <p>Hi <span id="user-name" th:text="${userName}"></span></p>
                    <a class="logout" href="/">Back
                    </a>
                    <a class="logout" href="/logout">Logout
                        <i class="fa fa-sign-out"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="row p-3 d-flex align-items-center">
        <div class="col-lg-6 offset-lg-3  mt-4">

            <!-- textarea Search -->
            <form class="row mb-3 mt-5" id="message-form">

                <div class="col-lg-7 d-flex justify-content-center width_item">
                    <textarea class="textarea_input" placeholder="Enter message"
                              id="message-content" rows="3" cols="105" required></textarea>
                </div>

                <div class="col-lg-2 offset-lg-1 d-flex justify-content-center width_item">
                    <button class="send m-2 p-3" type="submit" id="search-user">Search User</button>
                </div>
                <div class="col-lg-2 d-flex justify-content-center width_item">
                    <button class="send m-2 p-3" type="submit" id="search-content">Search Message</button>
                </div>

            </form>

            <!-- messages -->
            <div class="row chat_section py-5">
                <div class="messages">
                    <h3 class="text-center">Query Results</h3>
                    <div id="chat-field">

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
</body>
</html>